.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-title{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      margin: 5%;
   
    }
  }

  .form {
    display: flex; 
    flex-direction: row;
  }
